<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="../assets/templatev0.css">
    <link rel="javascript" href="app.js">
</head>
<body>
    <div><h1>Certificado</h1></div>
    <p id="um">Certifica-se que</p>
    <p id="aluno">{{name}} </p>
    <p id="texto"> aluno com o número: {{id}}
    terminou o curso {{curso}}. O curso teve início em {{data_inicio}} e terminou em {{data_fim}}.</p>
    <p id="parabens">Muitos parabéns!</p>
    <p id="imagemEstrela"><img id="estrela" src="../assets/estrela.png" alt="estrela"></p>
    <p id="imagemSmiley"><img id="smiley" src="../assets/smiley.png" alt="smiley"></p>
    <p id="assinatura">Assinatura do Responsável</p>

</body>

</html>