@page {
    size: A4 landscape;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 297mm;
    height: 210mm;

    box-sizing: border-box;

    border: 20px solid #2655b5;
    background-color: #dbf2ff;

    position: relative;
    overflow: hidden;
}

/* ALL ELEMENTS ARE POSITIONED FROM JSON */

.template-element {
    position: absolute;
    margin: 0;
    padding: 0;
}

.template-image {
    position: absolute;
    object-fit: contain;
}