/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
*.ext

.vscode/*

# Build output
/dist

# Settings & Certificates (sensitive configs)
src/configs/signature.json
src/configs/signature.p12
src/configs/signature.pfx
src/configs/email.json

# Generated Certificates
output/